@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins;
  -webkit-overflow-scrolling: touch; /* Melhora a inércia, mas aqui queremos controle total */
  touch-action: none;
}

h1{
  font-size: 2.5rem;
}

h1, h2, h3 {
  --tw-font-weight: 600;
  font-weight: 600;
}

.custom-h1{
  font-size: 6rem;
  line-height: 0.86;
}

@media (max-width: 64rem) {
  h1 {
    font-size: 2.18rem;
  }

  .custom-h1{
    font-size: 5rem;
    line-height: 0.80;
  }

html {
  font-size: 14px;
}
}

.left-animation{
  opacity: 0;
}

.panel {
  will-change: transform; /* Avisa ao navegador para colocar a seção em uma camada da GPU */
  backface-visibility: hidden;
  transform: translateZ(0); /* Força aceleração 3D */
}

.swiper-button-prev, .swiper-button-next{
  color: black !important;
  background-color: "white" !important;
}
